@import '../../style/variables.scss';

.episodes {
    &__list {
        margin-top: 45px;
        font-size: 20px;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 10px;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 150px;
        background-color: $dark;
        color: #FFFFFF;
        border-radius: 10px;
        transition: 0.3s transform;
        h2 {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            color: $main-color;
        }
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 5px 20px $main-color;
        }
    }
}