.skeleton {
    &__circle {
        margin: auto;
        width: 200px;
        height: 200px;
        background-color: #C4C4C4;
        border-radius: 100%;
    }
    &__mini {
        width: 100%;
        height: 16px;
        background-color: #C4C4C4;
        margin-top: 15px;
    }
    &__block {
        height: 35px;
        width: 100%;
        background-color: #C4C4C4;
        margin-top: 15px;
    }
}